<article class="large-card">
  <picture class="image large-card__picture">
    <source class="image__webp_l" media="(min-width: 1200px)" srcset="" type="image/webp">
    <source class="image__webp_m" media="(min-width: 704px)" srcset="" type="image/webp">
    <source class="image__webp_s" srcset="" type="image/webp">
    <source class="image__origin_l" media="(min-width: 1056px)" srcset="">
    <source class="image__origin_m" media="(min-width: 704px)" srcset="">
    <img class="large-card__image image__origin_s" src="">
  </picture>
  <div class="large-card__wrapper">
    <a class="large-card__link" href="#">
      <h3 class="large-card__title"></h3>
    </a>
    <div class="large-card__description"></div>
    <div class="large-card__buttons">
      <button class="action large-card__action">
        <span class="visually-hidden">Информация</span>
      </button>
      <button class="laik large-card__laik">
        <span class="visually-hidden">Мне нравится!</span>
      </button>
    </div>
  </div>
</article>
