<article class="middle-card">
  <a class="middle-card__link" href="#">
    <h3 class="middle-card__title"></h3>
  </a>
  <picture class="image middle-card__picture">
    <source class="image__webp_l" media="(min-width: 1200px)" srcset="" type="image/webp">
    <source class="image__webp_m" media="(min-width: 704px)" srcset="" type="image/webp">
    <source class="image__webp_s" srcset="" type="image/webp">
    <source class="image__origin_l" media="(min-width: 1056px)" srcset="">
    <source class="image__origin_m" media="(min-width: 704px)" srcset="">
    <img class="middle-card__image image__origin_s" src="">
  </picture>
  <div class="middle-card__wrapper">
    <div class="middle-card__description"></div>
    <button class="action middle-card__action">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik middle-card__laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
