.page {
  margin: 0 auto;

  @media (min-width: 512px) {
    margin: 0 15.625vw;
  }
}

.page__main {
  margin-bottom: 45px;
}

.page__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 30px;
}
