<article class="card_size_l">
  <picture class="image card__picture">
    <source class="image__webp_l" media="(min-width: 1200px)" srcset="" type="image/webp">
    <source class="image__webp_m" media="(min-width: 704px)" srcset="" type="image/webp">
    <source class="image__webp_s" srcset="" type="image/webp">
    <source class="image__origin_l" media="(min-width: 1056px)" srcset="">
    <source class="image__origin_m" media="(min-width: 704px)" srcset="">
    <img class="card__image image__origin_s" src="" srcset="">
  </picture>
  <div class="card__wrapper">
    <a class="card__link" href="#">
      <h3 class="card__title"></h3>
    </a>
    <div class="card__description"></div>
    <div class="card__buttons">
      <button class="action card__action">
        <span class="visually-hidden">Информация</span>
      </button>
      <button class="laik card__laik">
        <span class="visually-hidden">Мне нравится!</span>
      </button>
    </div>
  </div>
</article>
