<article class="card card_size_l">
  <picture>
    <source class="card__image_webp card__image_webp_l" media="(min-width: 1056px)" srcset="" type="image/webp">
    <source class="card__image card__image_webp_m" media="(min-width: 704px)" srcset="" type="image/webp">
    <source class="card__image card__image_webp_s" srcset="" type="image/webp">
    <source class="card__image card__image_origin_l" media="(min-width: 1056px)" srcset="">
    <source class="card__image card__image_origin_m" media="(min-width: 704px)" srcset="">
    <img class="card__image card__image_origin_s" width="232" height="122">
  </picture>
  <div class="card__wrapper">
    <h3 class="card__title"></h3>
    <div class="card__description"></div>
    <button class="action">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
