<article class="card card_size_m">
  <h3 class="card__title"></h3>
  <picture>
    <source media="(min-width: 1536px)" src="">
    <source media="(min-width: 1024px)" src="">
    <img class="card__image" width="172" height="90">
  </picture>
  <div class="card__wrapper">
    <div class="card__description"></div>
    <button class="action">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
