<article class="card card_size_l">
  <picture>
    <source media="(min-width: 1536px)" src="">
    <source media="(min-width: 1024px)" src="">
    <img class="card__image" width="232" height="122">
  </picture>
  <div class="card__wrapper">
    <h3 class="card__title"></h3>
    <div class="card__description"></div>
    <button class="info">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
