html,
body {
  min-width: $screen-1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YS Text", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;

  @media (min-width: $screen-2) {
    font-size: 14px;
  }

  @media (min-width: $screen-4) {
    font-size: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

img {
  max-width: 100%;
}

input {
  font: inherit;
}

button {
  cursor: pointer;
}
