<article class="card card_size_s">
  <h3 class="card__title"></h3>
  <div class="card__description"></div>
  <div class="card__wrapper">
    <picture>
      <source media="(min-width: 1536px)" src="">
      <source media="(min-width: 1024px)" src="">
      <img class="card__image" src="112" width="90" alt="">
    </picture>
    <cite class="card__author"></cite>
    <button class="info">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
