<article class="small-card small-card_content_image">
  <a class="small-card__link" href="#">
    <h3 class="small-card__title"></h3>
  </a>
  <div class="small-card__wrapper">
    <picture class="image small-card__picture">
      <source class="image__webp_l" media="(min-width: 1200px)" srcset="" type="image/webp">
      <source class="image__webp_m" media="(min-width: 512px)" srcset="" type="image/webp">
      <source class="image__webp_s" srcset="" type="image/webp">
      <source class="image__origin_l" media="(min-width: 1056px)" srcset="">
      <source class="image__origin_m" media="(min-width: 704px)" srcset="">
      <img class="small-card__image image__origin_s" src="">
    </picture>
    <button class="action small-card__action">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik small-card__laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
