<article class="small-card small-card_content_text">
  <a class="small-card__link" href="#">
    <h3 class="small-card__title"></h3>
  </a>
  <div class="small-card__description"></div>
  <div class="small-card__buttons">
    <cite class="small-card__author"></cite>
    <button class="action small-card__action">
      <span class="visually-hidden">Информация</span>
    </button>
    <button class="laik small-card__laik">
      <span class="visually-hidden">Мне нравится!</span>
    </button>
  </div>
</article>
